/* Larry Maps' specific CSS */

body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #000;
	color: white;
}

/* For larry maps scene */
#larryContainer
{
	background:url(../images/china.png) no-repeat fixed 0px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 372px;
	z-index: 0;
	overflow: hidden;
}

#larry
{
	position: fixed;
	margin: 0px;
	padding: 0px;
	bottom: 48px;
	width: 320px;
	text-align: center;
	color: purple;
	border-width: 8px 17px 8px 17px;
	-webkit-border-image: url(../images/box-bg.png)  8 17 8 17 stretch stretch;
	-webkit-box-sizing: border-box;
	-webkit-transition: opacity 1300ms linear 10ms;
	z-index: 12;
	font-size: 16px;
	opacity: .8;
	max-height: 285px;
	overflow: scroll;
	display: none;
}

#larrymask
{
	width: 320px;
	height: 372px;
	background: /*url(../images/mask.png) repeat*/ black;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	opacity: .3;
	-webkit-transition: opacity 1000ms ease-in-out 10ms;
	display: none;
}

#adjustMask
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 30;
	opacity: .4;
	display: none;
	background: #000;
}

.popup-content
{
	padding: 0px 0px 0px 0px;
	overflow: scroll;
	bottom: 0px;
	top: 0px;
}

#buttons
{
}
#bttnOK
{display: none;}
#bttnCustom
{display: none;}
#bttnCancel
{display: none;}

#map
{
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	position: fixed;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-webkit-transform: scale(1);
	border: 0px;
}

#bodytext
{
	font-size: 16px;
}

#topBox
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: none;
	z-index: 1000;
	opacity: 1;
	display: inline;
	color: #99cc99;
}

#searchBar
{
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	right: 70px;
	height: 50px;
	width: 100%;
	color: white;
	display: block;
	z-index: 1001;
	padding-top: 4px;
	padding-left: 1px;
	font-weight: bold;
	font-size: 16px;
	border-width: 10px 25px 10px 25px;
	-webkit-box-sizing: border-box;
	opacity: 1;
}
#searchBar.blur
{
	-webkit-border-image: url(../images/hash.png) 10 25 10 25 stretch stretch;
	opacity: 1;
	font-weight: bold;
}
#searchBar.selected
{
	-webkit-border-image: url(../images/hash-green.png) 10 25 10 25 stretch stretch;
	opacity: 1;
	font-weight: bold;
}
#searchBar.focus{
	-webkit-border-image: url(../images/palm-default/search-box.png) 10 25 10 25 stretch stretch;
	opacity: 1;
}
#searchBar input
{
	background: none;
	margin-top: 0px;
	margin-left: -5px;
	margin-right: -5px;
	padding: 0px;
	border: 0px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#searchBarGoIcon
{
	position: fixed;
	right: 10px;
	top: 9px;
	height: 32px;
	width: 32px;
	background: url(../images/palm-default/search-icon.png);
	z-index: 1000;
	opacity: .9;
}
#searchBarGoIcon.search
{
	opacity: .9;
	display: block;
	z-index: 1002;
	background: url(../images/palm-default/search-icon.png);
}
#searchBarGoIcon.command
{
	opacity: .9;
	display: block;
	z-index: 1002;
	background: url(../images/palm-default/command-go-icon.png);
}
#searchBarGoIcon.graydown
{
	opacity: .1;
	display: block;
	z-index: 1000;
}


.hint-text
{
	color: #aaaabb;
	font-weight: bold;
}

#realtimeInfo
{
	display: block;
	margin: 0px;
	padding: 0px;
	position: fixed;
	padding-left: 48px;
	bottom: 5px;
	z-index: 15;
	background: none;
}
#realtimeInfo .rcontent
{
	margin: 0px;
	font-size: 12px;
	text-align: center;
	color: black;
	line-height: 12px;
}

#panel
{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 44px;
	display: none;
	max-height: 280px;
	z-index: 13;
	background: none;
	opacity: 0.8;
	overflow: scroll;
}

#panelScroller
{
	overflow: scroll;
}

#panelContent
{
	margin: 10px 0px 10px 0px;
	overflow: scroll;
}

#updaterSpinner
{
	position: absolute;
	z-index: 8;
	display: none;
	opacity: .6;
}

#prefSpinner
{
	position: absolute;
	z-index: 100;
	display: none;
}
#prefSpinnerMask
{
	position: fixed;
	top: 0px;
	left: 0px;
	background: black;
	opacity: .3;
	z-index: 99;
	display: none;
}

.license
{
	padding: 10px;
	font-size: 12px;
}

#advList
{
	font-size: 14px;
	text-align: center;
}

#helpContainer
{
	font-size: 14px;
}

#donate
{
	display: block;
	font-size: 14px;
	color: green;
	padding-left: 20px;
	padding-bottom: 5px;
}

#donate.alipay
{
	font-size: 16px;
}

#about
{
	font-size: 16px;
	text-align: center;
}

a
{
	color: purple;
}

#adjustBall
{
	position: absolute;
	height: 46px;
	width: 46px;
	border: 0px;
	display: red;
	background: url(../images/adjust-cross.png) center center no-repeat;
	z-index: 33;
}

#offsets
{
	position: fixed;
	margin: 0px;
	padding: 0px;
	border: 0px;
	left: 10px;
	right: 10px;
	bottom: 5px;
	text-align: center;
	color: white;
	background: none;
	font-size: 12px;
	line-height: 13px;
	display: none;
	z-index: 31;
}

#emailButton
{
	position: absolute;
	top: 100px;
	left: 100px;
	background: url(../images/application-email.png) center center no-repeat;
	height: 32px;
	width: 32px;
	z-index: 17;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	opacity: .8;
	padding: 0px;
	border: 0px;
	color: green;
	display: none;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-webkit-transform: scale(0.1);
}

#quickSearchDrawerContainer
{
	position: fixed;
	top: 30px;
	left: 0px;
	right: 0px;
	border-width: 24px 24px 24px 24px;
	margin: 0px 0px 0px 0px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/quick-search-drawer-container-background.png) 24 24 24 24 stretch stretch;
	z-index: 14;
	font-size: 16px;
	color: #336633;
	line-height: 36px;
	opacity: 0;
}

.quickSearchItem
{
	padding: 2px;
	border-width: 4px 6px 4px 6px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/item-bg.png) 4 6 4 6 stretch stretch;
	display: inline;
	white-space: nowrap;
	text-align: center;
}

.quickSearchItem.selected
{
	padding: 2px;
	border-width: 4px 6px 4px 6px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/item-bg-select.png) 4 6 4 6 stretch stretch;
	display: inline;
	white-space: nowrap;
	text-align: center;
	-webkit-transform: rotate(15deg);
}

#staticMapContainer
{
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: black;
}

#staticMapContainer#staticMap
{
	border: 0px;
}

#director
{
	position: absolute;
	width: 46px;
	height: 46px;
	background: url(../images/gps-director.png) center no-repeat;
	display: none;
	-webkit-transform: rotate(0deg);
	z-index: 12;
}

#pointOpt
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	display: none;
	color: black;
	border-width: 4px 8px 19px 37px;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	-webkit-border-image: url(../images/point-opt.png) 4 8 19 37 stretch stretch;
	z-index: 11;
	opacity: .7;
	line-height: 20px;
}

.pointOptItem
{
	margin: 0px 0px 0px -30px;
	padding: 2px;
	border-width: 4px 6px 4px 6px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/item-bg.png) 4 6 4 6 stretch stretch;
	white-space: nowrap;
	text-align: center;
}

.pointOptItem.selected
{
	margin: 0px 0px 0px -30px;
	padding: 2px;
	border-width: 4px 6px 4px 6px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/item-bg-select.png) 4 6 4 6 stretch stretch;
	white-space: nowrap;
	text-align: center;
	-webkit-transform: rotate(15deg);
}

.hideIt
{
	display: none;
}
.showIt
{
	display: block;
}

.palm-divider.labeled .left
{
	-webkit-palm-mouse-target: ignore;
}

.palm-divider.labeled .label
{
	text-transform: lowercase;
}
  
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 10;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
	opacity: .5;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 10;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
	opacity: .5;
}

.palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.palm-page-header-wrapper .title
{
	padding-left: 80px;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 0px;
	display: inline;
}
.palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
	display: inline;
}
.palm-page-header-wrapper .title .sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}
