<div id="larryContainer">
	<div class="scene-fade-top"></div>
	<div id="topBox">
		<div id="searchBar" class="blur" x-mojo-element="TextField" x-mojo-focus-highlight="true"></div>
		<div id="searchBarGoIcon"></div>
	</div>
	<div id="realtimeInfo">
		<div class="rcontent" id="rcontent">Fetching<br>infomation<br>...</div>
	</div>
	<div id="larry">
		<div class="popup-content" x-mojo-element="Scroller" x-mojo-popup-content="">
			<div id="content">
			</div>
			<hr />
			<div id="buttons">
				<div x-mojo-element="Button" id="goNoNetworkHelp"></div>
				<div x-mojo-element="Button" id="bttnOK"></div>
				<div x-mojo-element="Button" id="bttnCustom"></div>
				<div x-mojo-element="Button" id="bttnCancel"></div>
				<div id="plnTxt"></div>
			</div>
		</div>
	</div>
	<div id="larrymask"></div>
	<div id="map"></div>
	<div class="scene-fade-bottom"></div>
	<div id="emailButton">+</div>
</div>
<div id="panel">
	<div class="palm-group">
		<div class="palm-group-title" style="text-align: center;">结果面板</div>
		<div class="palm-list">
			<div class="palm-row-wrapper">
				<div class="title" id="panelContent">
				&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
<div x-mojo-element="Spinner" id="updaterSpinner"><div>
